.socials{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 1rem;
}

.socials i{
    margin-left: 2rem;
}

.gautam, .shrinivas{
    margin-top: 1rem;
    border-radius: 10rem;
    background-color: rgb(233, 79, 105);
    padding:1rem;
}
.info{
    background-color: rgb(188, 121, 39);
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width: 768px){
    .socials{
        font-size: 20px;
        flex-direction: column;
        margin: 1rem;
    }
}