
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    color: white;
}

.container-nav{
    margin-top: 1rem;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    border: 2px solid white;
    border-radius: .5rem;
}

#nav-title img{
    margin-bottom: -.5rem;
    margin-right: .5rem;
    height: 2rem;
    width: 2rem;
}

#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

#cp{
    font-size: 15px;
}

header a {
    text-decoration: none;
    color: #c0bcbc;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #b2dfdb;
}

@media screen and (max-width: 768px) {
    header {
        padding: 20px 20px;
    }
    .container-nav{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}