.subjects{
    display: flex;
    flex-direction: column;
}
.subjects a{
    margin:1rem 0;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    border-radius: 5rem;
    padding: .5rem;
    box-shadow: inset 0 0 0 0 white;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: white;
  
}

.subjects a:hover{
    color: white;
    box-shadow: inset 100rem 0 0 0 royalblue;
    transform: scale(1.1);
    transition: .5s ease-in-out;
    font-size: 30px;
    
}