
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <div class="about-container">
        <h1><center>
            About Us
        </center> </h1>
        <div class="about">
            
            <h2>This Project was invisioned by me(Gautam Patil) & My Friend(Shrinivas Narhare) when we were at the end of 2nd semester and somehow made it happen by the start of third semester. Our main goal was to make sure the upcoming students would have some kind of idea to how the syllabus would be and were able to accomplish it somehow, the first website was crude and raw, and so we have created this new website using django.</h2>
            <h2>The main motive was always to keep resources free and we have been doing it so, No ads promotion or anything if you feel charitable do follow us on our socials and star / fork the main repository of this project on github, as it is our project we will be putting it on our resumes, that is one of the benefit we will be getting out of this.</h2>   
            <h2>
                If you wish to contribute to the project drop a dm or hop onto the discord server, we are in need of new study material /resources and would be glad if you could help us out.
            </h2>
            
        </div>
        <h1><center>Contributors</center></h1>
        <div class="contributions">
            
            <div class="developers">
                <h2>Developers</h2>
            <ul>
                <li>Gautam Patil (Front End, Back End, Database, Deployment)</li>
                <li>Shrinivas Narhare (Front End, , Design, UI/UX)</li>
                <li>Ajay Pandit ( Security, Hosting)</li>
            </ul>
            </div>
            <div class="providers">
                <h2>Resources Providers</h2>
            <ul>
                <li>Shrinivas Narhare</li>
                <li>Meet Patil</li>
                <li>Saloni Parab</li>
                <li>Ajay Pandit</li>
                <li>Gautam Patil</li>
            </ul>
            </div>
        </div>
    </div>
{% endblock %}