{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <div class="contact-container">
        <div class="socials">
            <div class="gautam">
                <span>Gautam Patil</span>
                <a href="https://www.linkedin.com/in/gautampatil1/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/gautampatil6969/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
            <div class="shrinivas">
                <span>Shrinivas Narhare</span>
                <a href="https://www.linkedin.com/in/shrinivas-narhare-ab5a0b208/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.instagram.com/shri_._reddy/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
        <br>
        <div class="info">
            <h2>
                You can contact us via dm's on instagram or linkedin from the above links. We will make sure to reply as soon as possible.
            </h2>
            <br>
            <h2>
                You can also contact us via jointing the discord server. The link is given below in the footer, join the server and tag us in the general chat. We will make sure to reply as soon as possible.
            </h2>
            <br>
            <h2>
                If you want to contact us for the development of website you can directly fork the repository and make changes and create a pull request. We will make sure to review it as soon as possible.
            </h2>
            <br>
        </div>
    </div>
{% endblock %}