{%load static%}
<link rel="stylesheet" href="{% static 'css/nav.css' %}">
<div class="container-nav">
    <header>
        <span id="nav-title"><a href="{% url 'index' %}"><img src="{%static 'hosting-services.png' %}" alt="">FY<span style="color:red; font-weight:bolder">Materials</span></a></span>
        <nav>
            <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </nav>
    </header>
</div>