{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/subjects.css' %}">
<script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
<script>


    
    var jsonFilePath = "{% static 'data.json' %}";

    var xhr = new XMLHttpRequest();

    xhr.open('GET', jsonFilePath, true);

    xhr.onload = function() {
        if (xhr.status === 200) {
            var jsonData = JSON.parse(xhr.responseText);

            var Data = jsonData.{{material}};
            var sub = Data.{{subject}};

            var buttonContainer = document.getElementById('links');

            for (var key in sub) {
                if (sub.hasOwnProperty(key)) {
                var link = sub[key];

                var button = document.createElement('a');
                button.textContent = key;

                button.setAttribute('onclick', 'window.open("' + link + '")');

                buttonContainer.appendChild(button);
                }
            }
        }
    };

    xhr.send();
</script>

    <div class="subject-container">
        <div class="subjects" id="links">
            
        </div>
    </div>

{% endblock %}